* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	/*background:url(../img/bg.jpg);*/
	background-color: gray;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto";
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*border-radius: 10px;*/
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.umd_container {
	width: 100%;
	max-width:900px;
	margin:auto;
}

.umd_container > article {
	/*background:rgba(24,8,33,.9);*/
	background:rgba(0,0,0, .55);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.umd_container>article>h2 {
	color:#fff;
}

.umd_container>article>hr {
	background:#F64740;
	height:5px;
	border:none;
}

.umd_container>article>p {
	line-height: 25px;
}

.umd_container>article>h2, .umd_container>article>p, .umd_container>article>hr {
	margin-bottom: 20px;
}

.umd_container>article>p {
	max-height: 200px;
	overflow: auto;
}

footer {
	background:rgba(0,0,0,0.75);
	position: fixed;
  	right: 0;
  	bottom: 0px;
  	left: 0;
 	padding: 1rem;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.35);
}

footer p{
	text-align: center;
	color:#fff;
}

.umd_jumb {
  padding: 30px 15px 30px 15px;
  margin-bottom: 30px;
  margin-top: 40px;
  background:rgba(0,0,0,.8);
}
.umd_jumb h1 {
  color: #fff;
}
.umd_jumb p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
.umd_jumb > hr {
  border-top-color: #d5d5d5;
}

.umd_jumb {
  max-width: 100%;
}

.umd_jumb2 {
  padding: 30px 15px;
  margin-bottom: 30px;
  margin-top: 45px;
}
.umd_jumb2 h1 {
  color: #000;
}
.umd_jumb2 p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #000;
}
.umd_jumb2 > hr {
  border-top-color: #d5d5d5;
}
.umd_jumb2 {
  border-radius: 6px;
}
.umd_jumb2 {
  max-width: 100%;
}

/*_____________________________ umd_logo ____________________________________________________________________________________________________________________________*/

.umd_logo {
	position: fixed;
	width: 7em;
	float: left;
	margin-left: 0;
	margin-top: 0;
	transition: width 0.7s;
	-moz-transition: width 0.7s;
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.umd_logo img {
	width: 100%
}

.zoomin {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoomin:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}


/*_________________________________paneles y formularios _______________________________________________________________________________________________________*/

hgroup {
	text-align:center;
	margin-top: 0.1em;
	padding-bottom: 20px;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

.form {
	max-width: 400px;
	margin: 10vh auto;
	padding: 1vh 2vw;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

.group>input {
	font-size: 18px;
	padding: 1vh 1vh 1vw 0.5vw;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.group>input:focus { outline: none; }


/* Label */

.group>label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.group>input:focus ~ label, .group>input.used ~ label {
	top: -20px;
    transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #009688;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #009688;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

/* active */

.group>input:focus ~ .bar:before, .group>input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.group > input:focus ~ .highlight {
	animation: .inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #009688;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.button {
  background: #009688;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.button:hover { background: #009688; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}


/*____________________________________ boton para subir en pantalla _______________________________________________________________________________________________*/
.umd_gotop {
	display: none;
	padding:5.5px 7.5px;
	background:rgba(0,0,0,0.5);
	font-size: 18px;
	color:#009688;
	cursor: pointer;
	position: fixed;
	bottom: 5px;
	right: 15px;
	border: 1.5px solid #009688;
}
.umd_gotop:hover {
	background:rgba(0,0,0,1);
}

/*------Switch------------------*/

.umd_material-switch > input[type="checkbox"] {
    display: none;
}

.umd_material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.umd_material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px #009688;
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.umd_material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.umd_material-switch > input[type="checkbox"]:checked + label::before {
    background: #009688;
    opacity: 0.5;
}
.umd_material-switch > input[type="checkbox"]:checked + label::after {
    background: #009688;
    left: 20px;
}

.umd_material-switch > span {
	color: #009688;
	font-size: 18px;
	font-weight: normal;
}

/*_______________________________________Vehicles_______________________________*/

.phrase{
 font-size: 20px;
 text-align: center;
}

.umd_management{
  background: #2c2c2c;
  color: #dfeff9;
  font-weight: 100;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  padding-left: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -mozborder-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

.cajas {
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
}

.umd_data {
  width: 100%;
  padding-left: 5px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  max-height: 50px;
  padding-top: 5px;
}

.umd_data div a {
  color: #0a78ba;
  font-weight: bold;
}

.umd_data div a:hover {
  color: #52a4d5;
}

.umd_data_img {
	width: 150px;
	background-size: contain;
}

.puntitos {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.umd_table {
	/*background:rgba(24,8,33,.9);*/
	background:rgba(0,0,0, .55);
	padding:4px;
	margin-top: 10px;
}

.table-responsive {
	max-height: 400px;
}

/*------------------------------------umd_data view----------------------------*/

._umd_data_img_ {
	float: left;
	max-width: 400px;
	background-size: contain;
	margin-right: 25px;
}

.texto-L, .texto-R { width: 200px; }
.texto-L { float: left; text-align:right; }
.texto-R { float: right; text-align:left; }
